@import '../../_sass/abstracts/index';

.formationStructureContainer{
	height: 40vh;
	width: 100%;
	background-image: url('../../_static/images/veld.jfif');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 10px;
	.formationRow{
		display: flex;
		justify-content: space-around;
		flex-wrap: nowrap;
		font-size: 1rem;
		color: white;
		.playerContainer{
			display: flex;
			text-align: center;
			flex-direction: column;
		}
		.fas{
			font-size: 2rem;
		}
	}
}

.benchContainer{
	margin-top: 1vh;
	background-color:$color-green-light;
	padding: 5px 10px;
	border-radius: 7px;
	.benchTitle{
		text-transform: capitalize;
		font-weight: 800;
		text-decoration: underline	;
	}
	.bench{
		margin-top: 1vh;
		display: flex;
		justify-content: space-around;
		flex-wrap: nowrap;
		font-size: 1rem;
		.playerContainer{
			display: flex;
			text-align: center;
			flex-direction: column;
		}
		.fas{
			color: $color-beige;
			font-size: 2rem;
		}
	}
}

.formationInfo{
	padding: 5px 10px;
	min-height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	.formationInfoTitle{
		text-transform: capitalize;
		font-weight: 800;
		text-decoration: underline	;
	}
	.formationInfoDetails{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;

		.scoreInputContainer{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			.scoreInput{
				max-width: 50px;
				text-align: center;
			}
		}

	}

}

.noclick{
	pointer-events:none;
}

.selectPlayer{
	display: none;
	background-color: white;
	padding: 15px;
	.playerType{
		text-decoration: underline;
		font-weight: 800;
	}
	.playerContainer{
		margin-left: 10px;
		.fas{
			font-size: 1.5rem;
			color: $color-green-dark;
		}
	}
}


@media only screen and (min-width : 1000px) {
    .formationStructureContainer {
		height: 40rem;
		.formationRow{
			font-size: 2rem;
			.fas{
				font-size: 4rem;
			}
		}
	}
	.benchContainer{
		margin-top: 1vh;
		background-color:$color-green-light;
		padding: 5px 10px;
		border-radius: 7px;
		.benchTitle{
			text-transform: capitalize;
			font-weight: 800;
			text-decoration: underline	;
		}
		.bench{
			font-size: 2rem;

			.fas{
				font-size: 4rem;
			}
		}
	}
}