@import '../../_sass/abstracts/variables';

.InputField {
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
	margin-bottom: 2vh;

	input {
		border: 1px solid $color-green-light;
		color: $color-green-light;
		padding: 5px;
		width: 100%;
		margin-top: 5px;
	}

	input::placeholder {
		color: $color-green-light;
		width: 100%;
	}
}

.cardcontainer {
	margin-bottom: 2vh;
	height: 100px;
	background-color: $color-green-light;
	border-radius: 7px;
	
	.formation {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;


		.leftcomponent {
			padding: 20px;
		}

		.rightcomponent {
			min-width: 12vw;
			display: flex;
			justify-content: space-between;

			.fas {
				height: 100%;
				line-height: 100px;
			}
		}
	}

	.formationPlayer {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		height: 100px;
		line-height: 100px;
		background-color: $color-green-light;
		border-radius: 7px;
		line-height: 100px;
	}

	.confirm{
		font-size: 1rem;
		padding: 10px;
		text-align: center;
		.choise{
			margin: 5px 0;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-around;
			.yes{
				background-color: $color-green-dark;
				border-radius: 5px;
				padding: 2px;
				width: 50px;

			}
			.no{
				background-color: red;
				border-radius: 5px;
				padding: 2px;
				width: 50px;
			}
		}
	}
}

.navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	max-height: 5vh;
	margin-bottom: 2vh;
	.rightcomponent{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		.logoutbutton{
			background-color: $color-green-light;
			color: black;
			text-align: center;
			font-weight: bolder;
			padding: 5px 10px;
			margin-left: 10px;
			height: 35px;
		}
		.fas {
			line-height: 35px;
			font-size: 25px;
		}
	}
}

.formationdetailtitle{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: baseline;

	.formationdate{
		margin-left: 15px;
		input{
			max-width: 125px;
			font-size: 0.9rem;
		}
	}
	
}